<h1><%= title %></h1>
<form method="POST" action="">
  <div class="form-group">
    <label for="name">Genre: </label>
    <input
      id="name"
      class="form-control"
      type="text"
      placeholder="Fantasy,
    Poetry, etc."
      name="name"
      ,
      required="true"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
